.main-nav{
    margin-top: 10px;
    list-style: none;
    padding-left: 0;
    background-color: mediumturquoise;
}

.main-nav__item {
    display: inline-block;
}

.main-nav__item a {
    color: azure;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
}

.main-nav__item a:hover {
    color:crimson;
}

.main-nav__item a:active {
    color:black;
}

.main-nav__item a::after{
    content: " | ";
}